.body {
  font-size: 20pt;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.headline {
  line-height: 40px;
}
.desktop-menu {
  display: block;
}
.mobile-menu {
  display: none;
}
.headline {
  flex: none;
}

.banner {
  height: 200px;
  background-color: blanchedalmond;
  font-size: 40px;
  text-align: Center;
  line-height: 200px;
}
.father {
  display: flex;
  justify-content: center;
}
.container {
  width: 1200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.promotion {
  display: flex;
  justify-content: flex-start;
  width: 380px;
  background-color: aqua;
}
.promotion img {
  object-fit: cover;
  width: 80px;
  height: 50px;
}
.promotion p {
  padding-left: 10px;
}

.product {
  flex: none;
  width: 180px;
  background-color: aqua;
  text-align: center;
  line-height: 20px;
}
.product img {
  width: 100%;
}
@media (max-width: 1200px) {
  .father {
    width: 90vw;
    margin: auto;
  }
  .container {
    width: 90vw;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .promotion {
    width: 30vw;
    flex-grow: 1;
  }
  .product {
    width: 21%;
    flex-grow: 1;
  }
  .father {
  }
}

@media (max-width: 600px) {
  .banner {
    font-size: 20px;
  }
  .mobile-menu {
    display: block;
  }
  .desktop-menu {
    display: none;
  }
  .father {
    width: 90vw;
    margin: auto;
  }
  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .promotion {
    width: 90vw;
  }
  .product {
    width: 90vw;
  }
}
