.body {
  font-size: 20pt;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.desktop-menu {
  display: block;
}
.mobile-menu {
  display: none;
}
.headline {
  flex: none;
}

.banner {
  height: 200px;
  background-color: blanchedalmond;
  font-size: 40pt;
  text-align: Center;
  line-height: 200px;
}
.container {
  display: table;
  margin-right: auto;
  margin-left: auto;
  width: 1200px;
}
.content {
  display: flex;
  flex-wrap: wrap;
}

.promotion {
  flex: none;
  margin: 10px;
  width: 380px;
  height: 50px;
  background-color: aqua;
}
.bg-img {
  background-image: url("./pic.jpg");
  width: 80px;
}

.product {
  flex: none;
  margin: 10px;
  width: 180px;
  background-color: aqua;
  text-align: center;
  line-height: 50px;
}
@media (max-width: 1200px) {
  .container {
    width: 90%;
  }
  .content {
    width: 90%;
  }
}

@media (max-width: 600px) {
  .mobile-menu {
    display: block;
  }
  .desktop-menu {
    display: none;
  }
  .container {
    width: 90%;
  }
  .promotion {
    width: 90%;
  }
  .product {
    width: 90%;
  }
}
